Repository superbox-dev/keba_keenergy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, rumdl, yamllint

black:
  name: black
  entry: uv run black --check
  language: system

ruff:
  name: ruff
  entry: uv run ruff check
  language: system

mypy:
  name: mypy
  entry: uv run mypy
  language: system

rumdl:
  name: rumdl
  entry: uv run rumdl check
  language: system

yamllint:
  name: yamllint
  entry: uv run yamllint
  language: system

Update .gitignore
  .gitignore
Due: none

Update README.md
  README.md
Due: rumdl

Update uv.lock
  pyproject.toml
  uv.lock
Due: none

Update PyCharm settings
  .idea/.name
  .idea/KEBA-KeEnergy.iml
  .idea/modules.xml
  .idea/runConfigurations/tests.xml
Due: none

Bump to v1.8.0
  custom_components/keba_keenergy/manifest.json
  pyproject.toml
  uv.lock
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: rumdl

Remove unused static name for entities
  custom_components/keba_keenergy/entity.py
Due: black, ruff, mypy

#35 Add `runtime-data` and fix `config-entry-unloading`
  custom_components/keba_keenergy/__init__.py
  custom_components/keba_keenergy/binary_sensor.py
  custom_components/keba_keenergy/climate.py
  custom_components/keba_keenergy/number.py
  custom_components/keba_keenergy/select.py
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/services.py
  custom_components/keba_keenergy/switch.py
  custom_components/keba_keenergy/water_heater.py
Due: black, ruff, mypy

Revert "#35 Add `runtime-data` and fix `config-entry-unloading`"
  custom_components/keba_keenergy/__init__.py
  custom_components/keba_keenergy/binary_sensor.py
  custom_components/keba_keenergy/climate.py
  custom_components/keba_keenergy/number.py
  custom_components/keba_keenergy/select.py
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/services.py
  custom_components/keba_keenergy/switch.py
  custom_components/keba_keenergy/water_heater.py
Due: black, ruff, mypy

#36 Fixed missing heating curve names
  CHANGELOG.md
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/manifest.json
  custom_components/keba_keenergy/select.py
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/services.py
  custom_components/keba_keenergy/services.yaml
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  pyproject.toml
  tests/api_data.py
  tests/test_binary_sensor.py
  tests/test_climate.py
  tests/test_entity.py
  tests/test_init.py
  tests/test_issues.py
  tests/test_number.py
  tests/test_select.py
  tests/test_sensor.py
  tests/test_services.py
  tests/test_switch.py
  tests/test_water_heater.py
  uv.lock
Due: black, ruff, mypy, rumdl, yamllint

Reapply "#35 Add `runtime-data` and fix `config-entry-unloading`"
  custom_components/keba_keenergy/__init__.py
  custom_components/keba_keenergy/binary_sensor.py
  custom_components/keba_keenergy/climate.py
  custom_components/keba_keenergy/number.py
  custom_components/keba_keenergy/select.py
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/services.py
  custom_components/keba_keenergy/switch.py
  custom_components/keba_keenergy/water_heater.py
Due: black, ruff, mypy

#35 Refactor entity class
  custom_components/keba_keenergy/climate.py
  custom_components/keba_keenergy/number.py
  custom_components/keba_keenergy/select.py
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/switch.py
  custom_components/keba_keenergy/water_heater.py
Due: black, ruff, mypy

#35 Fix tests
  custom_components/keba_keenergy/select.py
  custom_components/keba_keenergy/services.yaml
  uv.lock
Due: black, ruff, mypy, yamllint

#35 Resolve `action-setup`
  custom_components/keba_keenergy/__init__.py
Due: black, ruff, mypy

#35 Resolve config flow `data_description`
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
Due: none

#35 Resolve `parallel-updates` and `entity-category`
  custom_components/keba_keenergy/binary_sensor.py
  custom_components/keba_keenergy/climate.py
  custom_components/keba_keenergy/number.py
  custom_components/keba_keenergy/select.py
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/switch.py
  custom_components/keba_keenergy/water_heater.py
Due: black, ruff, mypy

#35 Improve `strict-typing`
  custom_components/keba_keenergy/__init__.py
  custom_components/keba_keenergy/binary_sensor.py
  custom_components/keba_keenergy/climate.py
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/entity.py
  custom_components/keba_keenergy/number.py
  custom_components/keba_keenergy/select.py
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/services.py
  custom_components/keba_keenergy/switch.py
  custom_components/keba_keenergy/water_heater.py
Due: black, ruff, mypy

#36 Bump version to v1.8.1
  CHANGELOG.md
  custom_components/keba_keenergy/manifest.json
  pyproject.toml
  uv.lock
Due: rumdl

#35 Use the official `_async_setup()` for the coordinator
  custom_components/keba_keenergy/__init__.py
  custom_components/keba_keenergy/coordinator.py
  tests/test_config_flow.py
Due: black, ruff, mypy

#35 Add `reauthentication-flow`
  custom_components/keba_keenergy/config_flow.py
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  tests/conftest.py
  tests/test_config_flow.py
  tests/test_coordinator.py
Due: black, ruff, mypy

#35 Add `reconfiguration-flow`
  custom_components/keba_keenergy/config_flow.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  tests/test_config_flow.py
Due: black, ruff, mypy

#35 Fix test
  tests/conftest.py
  tests/test_config_flow.py
Due: black, ruff, mypy

#35 Improve icons with `icon-translations`
  custom_components/keba_keenergy/binary_sensor.py
  custom_components/keba_keenergy/icons.json
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
Due: black, ruff, mypy

#35 Fix tests
  tests/conftest.py
  tests/test_config_flow.py
Due: black, ruff, mypy

Update CHANGELOG and bump version tom v1.9.0b1
  CHANGELOG.md
  custom_components/keba_keenergy/manifest.json
  pyproject.toml
  uv.lock
Due: rumdl

Update packages
  uv.lock
Due: none

Bump keba-keenergy-ap to v2.10.0
  custom_components/keba_keenergy/manifest.json
  pyproject.toml
  uv.lock
Due: none

Fix markdown linter error
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: rumdl

#34 Add heating circuit pump speed sensor
  CHANGELOG.md
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/manifest.json
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  pyproject.toml
  tests/api_data.py
  tests/test_init.py
  tests/test_sensor.py
  uv.lock
Due: black, ruff, mypy, rumdl

#34 Add icon translations
  custom_components/keba_keenergy/icons.json
Due: none

#30 Add options to set a custom polling rate
  CHANGELOG.md
  custom_components/keba_keenergy/__init__.py
  custom_components/keba_keenergy/binary_sensor.py
  custom_components/keba_keenergy/climate.py
  custom_components/keba_keenergy/config_flow.py
  custom_components/keba_keenergy/const.py
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/entity.py
  custom_components/keba_keenergy/number.py
  custom_components/keba_keenergy/select.py
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/services.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/switch.py
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  custom_components/keba_keenergy/water_heater.py
  tests/test_coordinator.py
Due: black, ruff, mypy, rumdl

#30 Update CHANGELOG.md
  CHANGELOG.md
Due: rumdl

Update uv.lock
  uv.lock
Due: none

Add support for Python 3.14
  pyproject.toml
Due: none

Remove photovoltaics code
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/entity.py
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  tests/api_data.py
  tests/test_init.py
  tests/test_sensor.py
Due: black, ruff, mypy

Path conditions:
  black: any of: \.py$, but not: ^\.venv/
  ruff: any of: \.py$, but not: ^\.venv/
  mypy: any of: \.py$, but not: ^\.venv/
  rumdl: any of: \.md$, but not: ^\.venv/
  yamllint: any of: \.ya?ml$, but not: ^\.venv/
