Repository superbox-dev/keba_keenergy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, rumdl, yamllint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-yaml
      - id: check-toml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: black
        name: black
        entry: uv run black
        language: python
        files: \.py$
      - id: ruff
        name: ruff
        entry: uv run ruff check
        language: python
        files: \.py$
      - id: mypy
        name: mypy
        entry: uv run mypy
        language: python
        files: \.py$
      - id: rumdl
        name: rumdl
        entry: uv run rumdl check
        language: system
        files: \.md$
      - id: yamllint
        name: yamllint
        entry: uv run yamllint .
        language: python
        files: \.ya?ml$

Update pre-commit hook
  .pre-commit-config.yaml
Due: yamllint

Add pre-commit
  pyproject.toml
  uv.lock
Due: none

Update coverage
  coverage-badge.svg
Due: none

Remove empty line
  docs/CNAME
Due: none

Update PyCharm settings
  .idea/codeStyles/codeStyleConfig.xml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/keba_keenergy.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/runConfigurations/Tests.xml
  .idea/runConfigurations/develop.xml
  .idea/vcs.xml
Due: none

#20 Fix linter errors
  custom_components/keba_keenergy/services.yaml
Due: yamllint

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: rumdl

Fix missing translations
  custom_components/keba_keenergy/translations/en.json
Due: none

Bump keba_keenergy_api to v2.8.1
  pyproject.toml
  uv.lock
Due: none

Changed documentation link to www.superbox.one
  custom_components/keba_keenergy/manifest.json
Due: none

Update README.md
  CHANGELOG.md
Due: rumdl

Update pre-commit config
  .pre-commit-config.yaml
Due: yamllint

#23 Add issue warning when more than 15 write operations are performed per week
  CHANGELOG.md
  README.md
  custom_components/keba_keenergy/const.py
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/entity.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  custom_components/keba_keenergy/water_heater.py
  docs/keba-keenergy/home-assistant/wiki/faq.md
  tests/test_entity.py
  tests/test_issues.py
Due: black, ruff, mypy, rumdl

Add PyCharm config
  .idea/runConfigurations/tests.xml
Due: none

Bump to v1.7.0b2
  custom_components/keba_keenergy/manifest.json
  pyproject.toml
  uv.lock
Due: none

Bump to v1.7.0b3
  custom_components/keba_keenergy/manifest.json
  pyproject.toml
  uv.lock
Due: none

#20 Add tests for services
  tests/test_services.py
Due: black, ruff, mypy

Comment out unused code
  custom_components/keba_keenergy/entity.py
Due: black, ruff, mypy

Test
  tests/conftest.py
Due: black, ruff, mypy

#20 Fix timezone
  custom_components/keba_keenergy/services.py
  tests/conftest.py
Due: black, ruff, mypy

#23 Make weekly counter persistent
  custom_components/keba_keenergy/coordinator.py
Due: black, ruff, mypy

Bump to v1.7.0b4
  custom_components/keba_keenergy/manifest.json
  pyproject.toml
  uv.lock
Due: none

#23 Update list of enabled default entities
  custom_components/keba_keenergy/number.py
  custom_components/keba_keenergy/select.py
  tests/test_number.py
Due: black, ruff, mypy

#23 Fix tests
  tests/test_number.py
  tests/test_select.py
Due: black, ruff, mypy

#23 Only write when the number value changed
  custom_components/keba_keenergy/number.py
Due: black, ruff, mypy

#23 Only write when the operation mode value changed
  custom_components/keba_keenergy/climate.py
Due: black, ruff, mypy

#23 Only write when the operation mode value changed
  tests/test_climate.py
Due: black, ruff, mypy

#23 Only write when the temperature value changed
  custom_components/keba_keenergy/climate.py
  custom_components/keba_keenergy/number.py
Due: black, ruff, mypy

#23 Only write when the option value changed
  custom_components/keba_keenergy/select.py
Due: black, ruff, mypy

#23 Only write when value changed
  custom_components/keba_keenergy/switch.py
  custom_components/keba_keenergy/water_heater.py
  tests/api_data.py
  tests/test_climate.py
  tests/test_switch.py
  tests/test_water_heater.py
Due: black, ruff, mypy

#23 Add debounced write data method for number entities
  custom_components/keba_keenergy/const.py
  custom_components/keba_keenergy/number.py
  tests/test_entity.py
  tests/test_issues.py
  tests/test_number.py
Due: black, ruff, mypy

#23 Update default values
  custom_components/keba_keenergy/const.py
Due: black, ruff, mypy

#23 Fix value
  custom_components/keba_keenergy/number.py
Due: black, ruff, mypy

#23 Add debounced write data method for water heater and climate entities
  custom_components/keba_keenergy/climate.py
  custom_components/keba_keenergy/number.py
  custom_components/keba_keenergy/water_heater.py
  tests/test_climate.py
  tests/test_water_heater.py
Due: black, ruff, mypy

#20 Fix away mode in climate entity
  custom_components/keba_keenergy/climate.py
  tests/test_climate.py
Due: black, ruff, mypy
