Repository superbox-dev/keba_keenergy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, rumdl, yamllint

black:
  name: black
  entry: uv run black --check
  language: system

ruff:
  name: ruff
  entry: uv run ruff check
  language: system

mypy:
  name: mypy
  entry: uv run mypy
  language: system

rumdl:
  name: rumdl
  entry: uv run rumdl check
  language: system

yamllint:
  name: yamllint
  entry: uv run yamllint
  language: system

#55 Add number for "Hot water tank Target temperature hysteresis for excess energy"
  custom_components/keba_keenergy/binary_sensor.py
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/number.py
  tests/api_data.py
  tests/snapshots/test_coordinator.ambr
  tests/snapshots/test_init.ambr
  tests/snapshots/test_number.ambr
  tests/test_init.py
  tests/test_number.py
Due: black, ruff, mypy

#55 Fix excess energy available sensor
  custom_components/keba_keenergy/binary_sensor.py
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  tests/api_data.py
  tests/snapshots/test_binary_sensor.ambr
  tests/snapshots/test_coordinator.ambr
  tests/snapshots/test_init.ambr
  tests/snapshots/test_sensor.ambr
  tests/test_binary_sensor.py
  tests/test_sensor.py
  uv.lock
Due: black, ruff, mypy

#55 Add switch for "Hot water tank Use excess energy" and sensor for "Hot water tank Excess energy"
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/icons.json
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/switch.py
  tests/api_data.py
  tests/snapshots/test_coordinator.ambr
  tests/snapshots/test_init.ambr
  tests/snapshots/test_sensor.ambr
  tests/snapshots/test_switch.ambr
  tests/test_init.py
  tests/test_sensor.py
  tests/test_switch.py
Due: black, ruff, mypy

#55 Add switch for "External heat source Use excess energy'" and number for "External heat source Minimum runtime with excess energy"
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/number.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/switch.py
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  tests/api_data.py
  tests/snapshots/test_coordinator.ambr
  tests/snapshots/test_init.ambr
  tests/snapshots/test_number.ambr
  tests/snapshots/test_switch.ambr
  tests/test_init.py
  tests/test_number.py
  tests/test_switch.py
Due: black, ruff, mypy

#55 Update translations
  custom_components/keba_keenergy/strings.json
Due: none

#55 Fix sensor condition
  custom_components/keba_keenergy/number.py
Due: black, ruff, mypy

#55 Update translations
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
Due: none

#55 Add photovoltaics device and sensors
  custom_components/keba_keenergy/binary_sensor.py
  custom_components/keba_keenergy/config_flow.py
  custom_components/keba_keenergy/const.py
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/entity.py
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  tests/api_data.py
  tests/conftest.py
  tests/snapshots/test_binary_sensor.ambr
  tests/snapshots/test_coordinator.ambr
  tests/snapshots/test_init.ambr
  tests/snapshots/test_number.ambr
  tests/snapshots/test_sensor.ambr
  tests/snapshots/test_switch.ambr
  tests/test_binary_sensor.py
  tests/test_config_flow.py
  tests/test_number.py
  tests/test_sensor.py
  uv.lock
Due: black, ruff, mypy

#55 Update icons
  custom_components/keba_keenergy/number.py
  custom_components/keba_keenergy/sensor.py
Due: black, ruff, mypy

#55 Update icons
  custom_components/keba_keenergy/number.py
  tests/snapshots/test_number.ambr
  tests/snapshots/test_sensor.ambr
Due: black, ruff, mypy

#55 Add sensors for excess energy consumption (heating, cooling, hot water and total)
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  tests/api_data.py
  tests/snapshots/test_coordinator.ambr
  tests/snapshots/test_init.ambr
  tests/snapshots/test_number.ambr
  tests/snapshots/test_sensor.ambr
  tests/test_init.py
  tests/test_sensor.py
  uv.lock
Due: black, ruff, mypy

#55 Bump version and update CHANGELOG.md
  CHANGELOG.md
  custom_components/keba_keenergy/manifest.json
  pyproject.toml
  uv.lock
Due: rumdl

#55 Convert joule to kWh
  custom_components/keba_keenergy/sensor.py
  tests/api_data.py
  tests/snapshots/test_coordinator.ambr
Due: black, ruff, mypy

Update packages
  custom_components/keba_keenergy/manifest.json
  pyproject.toml
  uv.lock
Due: none

#55 Update sensor enabled state
  custom_components/keba_keenergy/sensor.py
  uv.lock
Due: black, ruff, mypy

#55 Update sensor condition
  custom_components/keba_keenergy/sensor.py
Due: black, ruff, mypy

Revert "#55 Update sensor condition"
  custom_components/keba_keenergy/sensor.py
Due: black, ruff, mypy

#55 Update sensor condition
  custom_components/keba_keenergy/sensor.py
  tests/snapshots/test_init.ambr
  tests/snapshots/test_sensor.ambr
  tests/test_init.py
  tests/test_sensor.py
Due: black, ruff, mypy

Hide sensors that not available for the heat pump setup
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/entity.py
  custom_components/keba_keenergy/manifest.json
  custom_components/keba_keenergy/number.py
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  pyproject.toml
  tests/api_data.py
  tests/snapshots/test_init.ambr
  tests/snapshots/test_number.ambr
  tests/snapshots/test_sensor.ambr
  tests/test_init.py
  tests/test_sensor.py
  uv.lock
Due: black, ruff, mypy

Add CONFIG_SCHEMA
  custom_components/keba_keenergy/__init__.py
Due: black, ruff, mypy

Update entity_registry_enabled_default
  custom_components/keba_keenergy/sensor.py
Due: black, ruff, mypy

Update translations
  custom_components/keba_keenergy/binary_sensor.py
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  tests/snapshots/test_binary_sensor.ambr
  tests/snapshots/test_number.ambr
  tests/snapshots/test_sensor.ambr
  tests/snapshots/test_services.ambr
  tests/test_entity.py
  tests/test_services.py
Due: black, ruff, mypy

Update CHANGELOG.md
  CHANGELOG.md
Due: rumdl

Update translations
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/en.json
Due: none

Update translations
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
Due: none

Fix tests
  tests/snapshots/test_binary_sensor.ambr
Due: none

Update api
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/manifest.json
  custom_components/keba_keenergy/select.py
  custom_components/keba_keenergy/sensor.py
  pyproject.toml
  uv.lock
Due: black, ruff, mypy

#57 Add "Mixer" and "Pump status" to the heating circuit #47 Add "Mixer" to the passive cooling
  CHANGELOG.md
  custom_components/keba_keenergy/binary_sensor.py
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  tests/api_data.py
  tests/snapshots/test_binary_sensor.ambr
  tests/snapshots/test_coordinator.ambr
  tests/snapshots/test_init.ambr
  tests/snapshots/test_sensor.ambr
  tests/test_binary_sensor.py
  tests/test_init.py
  tests/test_sensor.py
Due: black, ruff, mypy, rumdl

#47 Do not disable mixer position sensor
  custom_components/keba_keenergy/sensor.py
Due: black, ruff, mypy

Update packages
  pyproject.toml
  uv.lock
Due: none

Fix IPv6 problem with mDNS
  custom_components/keba_keenergy/__init__.py
Due: black, ruff, mypy

Fix conditions
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/sensor.py
  tests/api_data.py
Due: black, ruff, mypy

Bump version
  custom_components/keba_keenergy/manifest.json
  pyproject.toml
Due: none

Update uv.lock
  uv.lock
Due: none

Update uv.lock
  custom_components/keba_keenergy/manifest.json
  pyproject.toml
  uv.lock
Due: none

Update uv.lock
  pyproject.toml
  uv.lock
Due: none

Update tests
  tests/snapshots/test_coordinator.ambr
  tests/snapshots/test_sensor.ambr
Due: none

Path conditions:
  black: any of: \.py$, but not: ^\.venv/
  ruff: any of: \.py$, but not: ^\.venv/
  mypy: any of: \.py$, but not: ^\.venv/
  rumdl: any of: \.md$, but not: ^\.venv/
  yamllint: any of: \.ya?ml$, but not: ^\.venv/
