Repository superbox-dev/keba_keenergy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, rumdl, yamllint

black:
  name: black
  entry: uv run black --check
  language: system

ruff:
  name: ruff
  entry: uv run ruff check
  language: system

mypy:
  name: mypy
  entry: uv run mypy
  language: system

rumdl:
  name: rumdl
  entry: uv run rumdl check
  language: system

yamllint:
  name: yamllint
  entry: uv run yamllint
  language: system

Bump api version
  custom_components/keba_keenergy/manifest.json
Due: none

Bump minimum Home Assistant version to 2026.3.0
  hacs.json
Due: none

#58 Add extra attributes to mixer position sensor
  custom_components/keba_keenergy/sensor.py
  tests/snapshots/test_sensor.ambr
Due: black, ruff, mypy

Update CHANGELOG.md
  CHANGELOG.md
Due: rumdl

#57 Add debug logging
  custom_components/keba_keenergy/binary_sensor.py
  custom_components/keba_keenergy/entity.py
  custom_components/keba_keenergy/number.py
  custom_components/keba_keenergy/select.py
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/switch.py
Due: black, ruff, mypy

Bump version
  custom_components/keba_keenergy/manifest.json
  pyproject.toml
  uv.lock
Due: none

Update logging message
  custom_components/keba_keenergy/entity.py
  custom_components/keba_keenergy/manifest.json
  pyproject.toml
  uv.lock
Due: black, ruff, mypy

Add debug logs
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/entity.py
  custom_components/keba_keenergy/manifest.json
  pyproject.toml
  uv.lock
Due: black, ruff, mypy

Fix duplicate entities
  custom_components/keba_keenergy/sensor.py
Due: black, ruff, mypy

Update logging error detection in tests
  custom_components/keba_keenergy/number.py
  tests/conftest.py
Due: black, ruff, mypy

Update version
  custom_components/keba_keenergy/manifest.json
  pyproject.toml
Due: none

Update uv.lock
  uv.lock
Due: none

Update uv.lock
  custom_components/keba_keenergy/manifest.json
  pyproject.toml
  uv.lock
Due: none

#57 Fix wrong "has_pump" detection
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/sensor.py
  tests/api_data.py
Due: black, ruff, mypy

Bump version to 1.10.0
  CHANGELOG.md
  custom_components/keba_keenergy/manifest.json
  pyproject.toml
  uv.lock
Due: rumdl

Fix missing translation for photovoltaics
  CHANGELOG.md
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
Due: rumdl

#59 Fix missing API error message and add better error logging
  CHANGELOG.md
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/entity.py
  custom_components/keba_keenergy/manifest.json
  pyproject.toml
  tests/test_coordinator.py
  uv.lock
Due: black, ruff, mypy, rumdl

#59 Filter API calls that are not available for this KEBA control unit / software version
  CHANGELOG.md
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/manifest.json
  pyproject.toml
  uv.lock
Due: black, ruff, mypy, rumdl

Update translations
  custom_components/keba_keenergy/number.py
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  tests/snapshots/test_number.ambr
  tests/snapshots/test_sensor.ambr
Due: black, ruff, mypy

#60 Fix missing auto cool option in the control unit operation mode select
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/select.py
Due: black, ruff, mypy

#60 Update tests
  tests/api_data.py
  tests/snapshots/test_binary_sensor.ambr
  tests/snapshots/test_climate.ambr
  tests/snapshots/test_number.ambr
  tests/snapshots/test_select.ambr
  tests/snapshots/test_sensor.ambr
  tests/snapshots/test_switch.ambr
  tests/snapshots/test_water_heater.ambr
  tests/test_select.py
Due: black, ruff, mypy

#60 Update CHANGELOG.md
  CHANGELOG.md
Due: rumdl

#63 Test keba_keenergy_api v2.12.2b1
  custom_components/keba_keenergy/manifest.json
  pyproject.toml
  uv.lock
Due: none

#63 Update uv.lock
  uv.lock
Due: none

Update .gitignore
  .gitignore
Due: none

#63 Fix test
  tests/conftest.py
Due: black, ruff, mypy

#63 Bump keba_keenergy_api to v2.12.2
  custom_components/keba_keenergy/manifest.json
  pyproject.toml
  uv.lock
Due: none

#65 Increased the minimum supported Home Assistant version to **2026.7.0**, which includes `aiohttp` 3.14 and `encode_basic_auth()`
  CHANGELOG.md
  custom_components/keba_keenergy/manifest.json
  hacs.json
  pyproject.toml
  uv.lock
Due: rumdl

Fix linter errors
  pyproject.toml
  tests/test_number.py
  tests/test_switch.py
Due: black, ruff, mypy

Update donations
  README.md
Due: rumdl

Add .readthedocs.yaml
  .readthedocs.yaml
Due: yamllint

Add missing type hints
  custom_components/keba_keenergy/const.py
Due: black, ruff, mypy

Path conditions:
  black: any of: \.py$, but not: ^\.venv/
  ruff: any of: \.py$, but not: ^\.venv/
  mypy: any of: \.py$, but not: ^\.venv/
  rumdl: any of: \.md$, but not: ^\.venv/
  yamllint: any of: \.ya?ml$, but not: ^\.venv/
