Repository superbox-dev/keba_keenergy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, rumdl, yamllint

black:
  name: black
  entry: uv run black --check
  language: system

ruff:
  name: ruff
  entry: uv run ruff check
  language: system

mypy:
  name: mypy
  entry: uv run mypy
  language: system

rumdl:
  name: rumdl
  entry: uv run rumdl check
  language: system

yamllint:
  name: yamllint
  entry: uv run yamllint
  language: system

Update pre-commit config
  .pre-commit-config.yaml
Due: yamllint

#20 Add blueprint to set away date range with a calendar
  blueprints/automation/keba_keenergy/set_away_date_range.yaml
Due: yamllint

#20 Update wiki
  docs/assets/blueprint-set-away-mode.png
  docs/keba-keenergy/home-assistant/wiki/examples.md
Due: rumdl

#20 Update wiki
  docs/keba-keenergy/home-assistant/wiki/examples.md
Due: rumdl

#20 Update CHANGELOG.md
  CHANGELOG.md
Due: rumdl

Update CHANGELOG.md
  CHANGELOG.md
Due: rumdl

Bump to v1.7.0
  CHANGELOG.md
  custom_components/keba_keenergy/manifest.json
  pyproject.toml
  uv.lock
Due: rumdl

#20 Fix blueprint
  blueprints/automation/keba_keenergy/set_away_date_range.yaml
Due: yamllint

#20 Fix start and end timestamp
  custom_components/keba_keenergy/climate.py
  custom_components/keba_keenergy/services.py
  tests/test_services.py
Due: black, ruff, mypy

Bump to v1.7.0b6
  custom_components/keba_keenergy/manifest.json
  pyproject.toml
  uv.lock
Due: none

#20 Update blueprint
  blueprints/automation/keba_keenergy/set_away_date_range.yaml
Due: yamllint

Bump to v1.7.0
  custom_components/keba_keenergy/manifest.json
  pyproject.toml
  uv.lock
Due: none

#23 Add a check to `set_away_date_range()` to control if the date really changed before write it
  custom_components/keba_keenergy/coordinator.py
  tests/api_data.py
Due: black, ruff, mypy

Bump to v1.7.0b7
  custom_components/keba_keenergy/manifest.json
  pyproject.toml
  uv.lock
Due: none

Bump to v1.8.0b1
  custom_components/keba_keenergy/manifest.json
  pyproject.toml
  uv.lock
Due: none

Update uv.lock
  uv.lock
Due: none

Fix blueprint
  blueprints/automation/keba_keenergy/set_away_date_range.yaml
Due: yamllint

Order keys and disable entities
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/switch.py
Due: black, ruff, mypy

Fix tests
  tests/test_switch.py
Due: black, ruff, mypy

Update entity icons
  CHANGELOG.md
  custom_components/keba_keenergy/select.py
  custom_components/keba_keenergy/sensor.py
Due: black, ruff, mypy, rumdl

#24 Add sensor "Circulation return temperature" and "Circulation pump state" to the hot water tank
  CHANGELOG.md
  custom_components/keba_keenergy/binary_sensor.py
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  tests/api_data.py
  tests/test_binary_sensor.py
  tests/test_init.py
Due: black, ruff, mypy, rumdl

Fix ruff error FURB171
  custom_components/keba_keenergy/entity.py
Due: black, ruff, mypy

Update packages
  custom_components/keba_keenergy/manifest.json
  pyproject.toml
  uv.lock
Due: none

#24 Added heating curve entities
  CHANGELOG.md
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/entity.py
  custom_components/keba_keenergy/number.py
  custom_components/keba_keenergy/select.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/switch.py
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  tests/api_data.py
  tests/test_init.py
  tests/test_number.py
  tests/test_select.py
  tests/test_switch.py
Due: black, ruff, mypy, rumdl

Improve test coverage
  custom_components/keba_keenergy/sensor.py
  pyproject.toml
  tests/api_data.py
  tests/test_binary_sensor.py
  tests/test_climate.py
  tests/test_config_flow.py
  tests/test_entity.py
  tests/test_init.py
  tests/test_issues.py
  tests/test_number.py
  tests/test_select.py
  tests/test_sensor.py
  tests/test_services.py
  tests/test_switch.py
  tests/test_water_heater.py
Due: black, ruff, mypy

#24 Disable "Circulation return temperature" sensor by default
  custom_components/keba_keenergy/sensor.py
Due: black, ruff, mypy

Improve test coverage
  tests/test_coordinator.py
  tests/test_issues.py
Due: black, ruff, mypy

Check if end date is not before the start date by the "set_away_date_range" service
  custom_components/keba_keenergy/services.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
Due: black, ruff, mypy

Optimize select options
  custom_components/keba_keenergy/select.py
Due: black, ruff, mypy

#24 Prepare service and add translations
  custom_components/keba_keenergy/const.py
  custom_components/keba_keenergy/services.py
  custom_components/keba_keenergy/services.yaml
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
Due: black, ruff, mypy, yamllint

Refactor tests with the pytest.raises context manager
  tests/test_entity.py
  tests/test_number.py
  tests/test_select.py
  tests/test_services.py
Due: black, ruff, mypy

Upgrade packages
  pyproject.toml
  uv.lock
Due: none

Bump version
  custom_components/keba_keenergy/manifest.json
Due: none

Upgrade packages
  custom_components/keba_keenergy/manifest.json
  pyproject.toml
  uv.lock
Due: none

#24 Add service "set_heating_curve_points"
  CHANGELOG.md
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/services.py
  tests/api_data.py
  tests/test_services.py
Due: black, ruff, mypy, rumdl

Path conditions:
  black: any of: \.py$, but not: ^\.venv/
  ruff: any of: \.py$, but not: ^\.venv/
  mypy: any of: \.py$, but not: ^\.venv/
  rumdl: any of: \.md$, but not: ^\.venv/
  yamllint: any of: \.ya?ml$, but not: ^\.venv/
