Repository superbox-dev/keba_keenergy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, rumdl, yamllint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: black
        name: black
        entry: uv run black --check
        language: system
        types:
          - python
        exclude: ^\.venv/
      - id: ruff
        name: ruff
        entry: uv run ruff check
        language: system
        types:
          - python
        exclude: ^\.venv/
      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types:
          - python
        exclude: ^\.venv/
      - id: rumdl
        name: rumdl
        entry: uv run rumdl check
        language: system
        files: \.md$
        exclude: ^\.venv/
      - id: yamllint
        name: yamllint
        entry: uv run yamllint
        language: system
        files: \.ya?ml$
        exclude: ^\.venv/

#30 Add device multipliers to the config flow options
  custom_components/keba_keenergy/config_flow.py
  custom_components/keba_keenergy/const.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
Due: black, ruff, mypy

#30 Show only devices for the current heat pump setup
  custom_components/keba_keenergy/config_flow.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
Due: black, ruff, mypy

Bump version
  CHANGELOG.md
  custom_components/keba_keenergy/manifest.json
  pyproject.toml
  uv.lock
Due: rumdl

#30 Add tests for the config flow options
  tests/test_config_flow.py
  tests/test_sensor.py
Due: black, ruff, mypy

Update uv.lock
  uv.lock
Due: none

#30 Normalize options
  custom_components/keba_keenergy/config_flow.py
  tests/test_config_flow.py
Due: black, ruff, mypy

#30 Add ticks to the data update coordinator
  custom_components/keba_keenergy/__init__.py
  custom_components/keba_keenergy/coordinator.py
  tests/api_data.py
  tests/conftest.py
  tests/test_coordinator.py
Due: black, ruff, mypy

#30 Update CHANGELOG.md
  CHANGELOG.md
Due: rumdl

#35 Add default values to the reconfiguration workflow
  custom_components/keba_keenergy/config_flow.py
Due: black, ruff, mypy

Bump to v1.9.0
  CHANGELOG.md
  custom_components/keba_keenergy/manifest.json
  pyproject.toml
  uv.lock
Due: rumdl

Update `keba-keenergy-api`, as aiohttp is being updated from `3.13.3` to `3.13.4`
  CHANGELOG.md
  custom_components/keba_keenergy/manifest.json
  pyproject.toml
  uv.lock
Due: rumdl

Add __future__ annotations import
  custom_components/keba_keenergy/coordinator.py
  tests/__init__.py
  tests/api_data.py
  tests/conftest.py
  tests/test_binary_sensor.py
  tests/test_climate.py
  tests/test_config_flow.py
  tests/test_coordinator.py
  tests/test_entity.py
  tests/test_init.py
  tests/test_issues.py
  tests/test_number.py
  tests/test_select.py
  tests/test_sensor.py
  tests/test_services.py
  tests/test_switch.py
  tests/test_water_heater.py
Due: black, ruff, mypy

Update test init with snapshots
  tests/snapshots/test_init.ambr
  tests/test_init.py
Due: black, ruff, mypy

Update uv.lock
  pyproject.toml
  uv.lock
Due: none

Sort translations
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
Due: none

Sort translations
  custom_components/keba_keenergy/icons.json
Due: none

Update api version
  custom_components/keba_keenergy/manifest.json
Due: none

Update translation keys
  custom_components/keba_keenergy/select.py
  custom_components/keba_keenergy/sensor.py
  tests/test_select.py
  tests/test_sensor.py
Due: black, ruff, mypy

#47 Add sensor for heating circuit mode
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/icons.json
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  tests/api_data.py
  tests/snapshots/test_init.ambr
  tests/test_coordinator.py
  tests/test_init.py
Due: black, ruff, mypy

#47 Add sensor for heating circuit cool request
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/icons.json
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  tests/api_data.py
  tests/snapshots/test_init.ambr
  tests/test_coordinator.py
  tests/test_init.py
Due: black, ruff, mypy

#47 Only show heat request or cool request when the heating circuit support this
  custom_components/keba_keenergy/climate.py
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/icons.json
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  tests/api_data.py
  tests/snapshots/test_init.ambr
  tests/test_coordinator.py
  tests/test_init.py
Due: black, ruff, mypy

#47 Only show heat request or cool request when the heating circuit support this
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/sensor.py
Due: black, ruff, mypy

#47 Add cooling curve
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/manifest.json
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  pyproject.toml
  tests/api_data.py
  tests/snapshots/test_coordinator.ambr
  tests/snapshots/test_init.ambr
  tests/test_coordinator.py
  uv.lock
Due: black, ruff, mypy

#46 Add control for heating limits (day/night) #47 Add support for heating circuits with active and passive cooling feature
  CHANGELOG.md
  custom_components/keba_keenergy/binary_sensor.py
  custom_components/keba_keenergy/climate.py
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/entity.py
  custom_components/keba_keenergy/number.py
  custom_components/keba_keenergy/select.py
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/switch.py
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  custom_components/keba_keenergy/water_heater.py
  tests/api_data.py
  tests/snapshots/test_coordinator.ambr
  tests/snapshots/test_init.ambr
  tests/test_climate.py
  tests/test_entity.py
  tests/test_init.py
  tests/test_select.py
Due: black, ruff, mypy, rumdl

#47 Update sensors and switch to snapshots
  tests/snapshots/test_sensor.ambr
  tests/test_sensor.py
Due: black, ruff, mypy

#47 Update binary sensors and switch to snapshots
  tests/snapshots/test_binary_sensor.ambr
  tests/test_binary_sensor.py
Due: black, ruff, mypy

#47 Update numbers and switch to snapshots
  tests/snapshots/test_number.ambr
  tests/test_number.py
Due: black, ruff, mypy

#47 Update switches and switch to snapshots
  tests/snapshots/test_switch.ambr
  tests/test_switch.py
Due: black, ruff, mypy

#47 Update water heaters and switch to snapshots
  tests/snapshots/test_water_heater.ambr
  tests/test_water_heater.py
Due: black, ruff, mypy

#47 Update services and switch to snapshots
  tests/snapshots/test_services.ambr
  tests/test_services.py
Due: black, ruff, mypy

#47 Update selects and switch to snapshots
  tests/snapshots/test_select.ambr
  tests/test_select.py
Due: black, ruff, mypy

#47 Update climates and switch to snapshots
  custom_components/keba_keenergy/climate.py
  tests/snapshots/test_climate.ambr
  tests/test_climate.py
Due: black, ruff, mypy

Update api and fix sensors backward compatibility
  custom_components/keba_keenergy/binary_sensor.py
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/entity.py
  custom_components/keba_keenergy/number.py
  custom_components/keba_keenergy/select.py
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/switch.py
  tests/api_data.py
  tests/snapshots/test_coordinator.ambr
  tests/test_init.py
  uv.lock
Due: black, ruff, mypy

Update CHANGELOG.md
  CHANGELOG.md
Due: rumdl

#47 Add active cooling check
  custom_components/keba_keenergy/climate.py
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/select.py
  tests/api_data.py
Due: black, ruff, mypy

Update translation for the mixer flow temperature
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  tests/snapshots/test_sensor.ambr
Due: black, ruff, mypy

Filter outdoor temperature and heating circuit mixer entities if not available
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/sensor.py
  tests/api_data.py
  tests/snapshots/test_init.ambr
  tests/snapshots/test_sensor.ambr
  tests/test_init.py
  tests/test_sensor.py
Due: black, ruff, mypy

Filter heating circuit pump and return flow temperature entities if not available
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/sensor.py
  tests/api_data.py
  tests/snapshots/test_init.ambr
  tests/snapshots/test_sensor.ambr
  tests/test_init.py
  tests/test_sensor.py
Due: black, ruff, mypy
