Repository superbox-dev/keba_keenergy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, rumdl, yamllint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: black
        name: black
        entry: uv run black --check
        language: system
        types:
          - python
        exclude: ^\.venv/
      - id: ruff
        name: ruff
        entry: uv run ruff check
        language: system
        types:
          - python
        exclude: ^\.venv/
      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types:
          - python
        exclude: ^\.venv/
      - id: rumdl
        name: rumdl
        entry: uv run rumdl check
        language: system
        files: \.md$
        exclude: ^\.venv/
      - id: yamllint
        name: yamllint
        entry: uv run yamllint
        language: system
        files: \.ya?ml$
        exclude: ^\.venv/

Upgrade packages
  custom_components/keba_keenergy/manifest.json
  pyproject.toml
  uv.lock
Due: none

#24 Change number steps
  custom_components/keba_keenergy/number.py
  tests/test_entity.py
  tests/test_number.py
Due: black, ruff, mypy

#24 Add tests for services
  custom_components/keba_keenergy/services.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  tests/api_data.py
  tests/test_services.py
Due: black, ruff, mypy

Add translation to `HomeAssistantError`
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
Due: black, ruff, mypy

Fix linter errors
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  docs/keba-keenergy/home-assistant/wiki/examples.md
Due: rumdl

Fix linter errors
  CHANGELOG.md
Due: rumdl

#24 Add a max points validation
  custom_components/keba_keenergy/manifest.json
  custom_components/keba_keenergy/services.py
  pyproject.toml
  uv.lock
Due: black, ruff, mypy

#28 Fix sensor names and translations
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
Due: none

#28 Fix tests
  tests/test_sensor.py
Due: black, ruff, mypy

Update CHANGELOG.md
  CHANGELOG.md
Due: rumdl

Add default `suggested_display_precision` for unitless sensors
  custom_components/keba_keenergy/sensor.py
Due: black, ruff, mypy

Refactor error handling in coordinator and update translations
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  tests/test_coordinator.py
  tests/test_entity.py
Due: black, ruff, mypy

Update PyCharm settings
  .idea/keba_keenergy.iml
  .idea/misc.xml
Due: none

Update uv.lock
  pyproject.toml
  uv.lock
Due: none

Refactor typehints and remove cast()
  custom_components/keba_keenergy/binary_sensor.py
  custom_components/keba_keenergy/climate.py
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/entity.py
  custom_components/keba_keenergy/number.py
  custom_components/keba_keenergy/select.py
  custom_components/keba_keenergy/services.py
  custom_components/keba_keenergy/services.yaml
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/switch.py
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  custom_components/keba_keenergy/water_heater.py
Due: black, ruff, mypy, yamllint

Fix tests
  tests/test_entity.py
  tests/test_issues.py
  tests/test_select.py
  tests/test_sensor.py
  tests/test_services.py
Due: black, ruff, mypy

Refactor `_async_debounced_write_data()`
  custom_components/keba_keenergy/climate.py
  custom_components/keba_keenergy/entity.py
  custom_components/keba_keenergy/number.py
  custom_components/keba_keenergy/water_heater.py
Due: black, ruff, mypy

Refactor type hints and select classes
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/select.py
Due: black, ruff, mypy

#28 Add sensor `Heating curve` with points as extra state attributes
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  tests/test_init.py
Due: black, ruff, mypy

Bump to v1.8.0b3
  pyproject.toml
  uv.lock
Due: none

#28 Update tests
  tests/conftest.py
  tests/test_binary_sensor.py
  tests/test_climate.py
  tests/test_config_flow.py
  tests/test_entity.py
  tests/test_init.py
  tests/test_issues.py
  tests/test_number.py
  tests/test_select.py
  tests/test_sensor.py
  tests/test_services.py
  tests/test_switch.py
  tests/test_water_heater.py
Due: black, ruff, mypy

#28 Fix hass validation errors and improve translation tests
  custom_components/keba_keenergy/select.py
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/services.py
  custom_components/keba_keenergy/services.yaml
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  tests/__init__.py
  tests/test_entity.py
  tests/test_issues.py
  tests/test_select.py
  tests/test_sensor.py
  tests/test_services.py
Due: black, ruff, mypy, yamllint

#28 Fix tests
  tests/test_services.py
Due: black, ruff, mypy

Upgrade packages
  custom_components/keba_keenergy/manifest.json
  pyproject.toml
Due: none

Upgrade packages
  uv.lock
Due: none

#28 Fix write heating curve points
  custom_components/keba_keenergy/services.py
Due: black, ruff, mypy

Update packages
  custom_components/keba_keenergy/manifest.json
  pyproject.toml
  uv.lock
Due: none

#29 Add sensors for "target overheating", "current overheating", and "expansion valve position"
  CHANGELOG.md
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  tests/api_data.py
  tests/test_init.py
  tests/test_sensor.py
Due: black, ruff, mypy, rumdl

#31 Fix translation for switch valve position
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  tests/test_select.py
  tests/test_sensor.py
Due: black, ruff, mypy

#32 Fix sensors with J as unit but shown as kWh
  custom_components/keba_keenergy/sensor.py
  tests/api_data.py
  tests/test_sensor.py
Due: black, ruff, mypy

Bump version
  custom_components/keba_keenergy/manifest.json
  pyproject.toml
  uv.lock
Due: none

Fix CVE
  uv.lock
Due: none
