Repository superbox-dev/keba_keenergy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, rumdl, yamllint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: local
    hooks:
      - id: black
        name: black
        entry: uv run black --check
        language: system
        types:
          - python
        exclude: ^\.venv/
      - id: ruff
        name: ruff
        entry: uv run ruff check
        language: system
        types:
          - python
        exclude: ^\.venv/
      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types:
          - python
        exclude: ^\.venv/
      - id: rumdl
        name: rumdl
        entry: uv run rumdl check
        language: system
        files: \.md$
        exclude: ^\.venv/
      - id: yamllint
        name: yamllint
        entry: uv run yamllint
        language: system
        files: \.ya?ml$
        exclude: ^\.venv/

Update uv.lock
  uv.lock
Due: none

Fix tests
  tests/snapshots/test_climate.ambr
Due: none

Fix coverage
  .coveragerc.toml
Due: none

Add fail_under
  .coveragerc.toml
Due: none

Update PyCharm settings
  .idea/pyLspTools.xml
Due: none

fix: use via_device_id for the Home Assistant device registry
  CHANGELOG.md
  custom_components/keba_keenergy/__init__.py
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/entity.py
  custom_components/keba_keenergy/manifest.json
  hacs.json
  pyproject.toml
  tests/snapshots/test_water_heater.ambr
  tests/test_number.py
  uv.lock
Due: black, ruff, mypy, rumdl

#66: prevent config flow error when photovoltaics is unavailable
  CHANGELOG.md
  custom_components/keba_keenergy/config_flow.py
  custom_components/keba_keenergy/coordinator.py
  tests/test_config_flow.py
Due: black, ruff, mypy, rumdl

Update CHANGELOG.md
  CHANGELOG.md
Due: rumdl

Bump version
  custom_components/keba_keenergy/manifest.json
Due: none
