Repository superbox-dev/keba_keenergy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff, mypy, rumdl, yamllint

black:
  name: black
  entry: uv run black --check
  language: system

ruff:
  name: ruff
  entry: uv run ruff check
  language: system

mypy:
  name: mypy
  entry: uv run mypy
  language: system

rumdl:
  name: rumdl
  entry: uv run rumdl check
  language: system

yamllint:
  name: yamllint
  entry: uv run yamllint
  language: system

Filter hot water tank fresh water module entities if not available
  custom_components/keba_keenergy/binary_sensor.py
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/sensor.py
  tests/api_data.py
  tests/snapshots/test_binary_sensor.ambr
  tests/snapshots/test_init.ambr
  tests/snapshots/test_sensor.ambr
  tests/test_binary_sensor.py
  tests/test_init.py
  tests/test_sensor.py
Due: black, ruff, mypy

Add sensor for "Return flow temperature (mixer)" to the heating circuit
  CHANGELOG.md
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  tests/api_data.py
  tests/snapshots/test_coordinator.ambr
  tests/snapshots/test_init.ambr
  tests/snapshots/test_sensor.ambr
  tests/test_init.py
Due: black, ruff, mypy, rumdl

Update circulation pump speed sensor key and move spf to the entity category "diagnostic"
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  tests/api_data.py
  tests/snapshots/test_coordinator.ambr
  uv.lock
Due: black, ruff, mypy

Move cop to the entity category "diagnostic"
  custom_components/keba_keenergy/sensor.py
Due: black, ruff, mypy

Move sensors to the entity category "diagnostic"
  custom_components/keba_keenergy/sensor.py
Due: black, ruff, mypy

#47 Add passive cooling device
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/entity.py
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  tests/api_data.py
  tests/conftest.py
  tests/snapshots/test_coordinator.ambr
  tests/snapshots/test_init.ambr
  tests/test_init.py
  uv.lock
Due: black, ruff, mypy

#47 Add tests for the passive cooling sensors
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  tests/snapshots/test_sensor.ambr
  tests/test_sensor.py
Due: black, ruff, mypy

#47 Add condition for passive cooling sensors
  custom_components/keba_keenergy/sensor.py
Due: black, ruff, mypy

#47 Fix tests
  tests/test_init.py
Due: black, ruff, mypy

Bump version
  CHANGELOG.md
  custom_components/keba_keenergy/manifest.json
  pyproject.toml
  uv.lock
Due: rumdl

#47 Fix icons
  custom_components/keba_keenergy/icons.json
  custom_components/keba_keenergy/sensor.py
Due: black, ruff, mypy

#47 Fix tests
  tests/snapshots/test_sensor.ambr
Due: none

Bump keba keenergy api to v2.11.0
  custom_components/keba_keenergy/manifest.json
  pyproject.toml
  uv.lock
Due: none

Bump to v1.10.0b3
  custom_components/keba_keenergy/manifest.json
  pyproject.toml
Due: none

Update uv.lock
  uv.lock
Due: none

Update uv.lock
  pyproject.toml
  uv.lock
Due: none

Update translations
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
Due: none

Fix optimistic mode
  custom_components/keba_keenergy/entity.py
  tests/test_issues.py
Due: black, ruff, mypy

Bump version
  custom_components/keba_keenergy/manifest.json
  pyproject.toml
  uv.lock
Due: none

Fix optimistic mode
  custom_components/keba_keenergy/entity.py
Due: black, ruff, mypy

Fix optimistic mode for selects
  custom_components/keba_keenergy/select.py
Due: black, ruff, mypy

Fix operation mode state update
  CHANGELOG.md
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/entity.py
  custom_components/keba_keenergy/manifest.json
  custom_components/keba_keenergy/select.py
  pyproject.toml
  uv.lock
Due: black, ruff, mypy, rumdl

Remove debug logging
  custom_components/keba_keenergy/coordinator.py
Due: black, ruff, mypy

#55 Add sensor and number entity for "Hot water tank Target temperature (excess energy)"
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/manifest.json
  custom_components/keba_keenergy/number.py
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  pyproject.toml
  tests/api_data.py
  tests/snapshots/test_coordinator.ambr
  tests/snapshots/test_init.ambr
  tests/snapshots/test_number.ambr
  tests/snapshots/test_sensor.ambr
  tests/test_init.py
  tests/test_number.py
  tests/test_sensor.py
  uv.lock
Due: black, ruff, mypy

#55 Add sensor and number entity for "Buffer tank Target temperature (excess energy)"
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/number.py
  custom_components/keba_keenergy/sensor.py
  tests/api_data.py
  tests/snapshots/test_coordinator.ambr
  tests/snapshots/test_init.ambr
  tests/snapshots/test_number.ambr
  tests/snapshots/test_sensor.ambr
  tests/test_init.py
  tests/test_number.py
  tests/test_sensor.py
Due: black, ruff, mypy

#55 Add switch for "Buffer tank Use excess energy"
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/switch.py
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  tests/api_data.py
  tests/snapshots/test_coordinator.ambr
  tests/snapshots/test_init.ambr
  tests/snapshots/test_switch.ambr
  tests/test_init.py
  tests/test_switch.py
Due: black, ruff, mypy

#55 Add sensor for "Heat pump Consuming excess energy"
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  tests/api_data.py
  tests/snapshots/test_coordinator.ambr
  tests/snapshots/test_init.ambr
  tests/snapshots/test_number.ambr
  tests/snapshots/test_sensor.ambr
  tests/snapshots/test_switch.ambr
  tests/test_init.py
  tests/test_sensor.py
  uv.lock
Due: black, ruff, mypy

#55 Add number for "Buffer tank Outdoor temperature limit (excess energy usage)"
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/number.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  tests/api_data.py
  tests/snapshots/test_coordinator.ambr
  tests/snapshots/test_init.ambr
  tests/snapshots/test_number.ambr
  tests/test_init.py
  tests/test_number.py
Due: black, ruff, mypy

#55 Add number for "Buffer tank Target temperature hysteresis (excess energy)"
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/number.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  tests/api_data.py
  tests/snapshots/test_coordinator.ambr
  tests/snapshots/test_init.ambr
  tests/snapshots/test_number.ambr
  tests/test_init.py
  tests/test_number.py
Due: black, ruff, mypy

#55 Add binary sensor for "Buffer tank Excess energy available"
  custom_components/keba_keenergy/binary_sensor.py
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  tests/api_data.py
  tests/snapshots/test_binary_sensor.ambr
  tests/snapshots/test_coordinator.ambr
  tests/snapshots/test_init.ambr
  tests/snapshots/test_sensor.ambr
  tests/test_binary_sensor.py
  tests/test_init.py
  tests/test_sensor.py
Due: black, ruff, mypy

#55 Add sensor and number entity for "Heating circuit Target temperature (excess energy)"
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/number.py
  custom_components/keba_keenergy/sensor.py
  tests/api_data.py
  tests/snapshots/test_coordinator.ambr
  tests/snapshots/test_init.ambr
  tests/snapshots/test_number.ambr
  tests/snapshots/test_sensor.ambr
  tests/test_init.py
  tests/test_number.py
  tests/test_sensor.py
Due: black, ruff, mypy

#55 Add number for "Heating circuit Target temperature hysteresis (excess energy)"
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/number.py
  tests/api_data.py
  tests/snapshots/test_coordinator.ambr
  tests/snapshots/test_init.ambr
  tests/snapshots/test_number.ambr
  tests/test_init.py
  tests/test_number.py
Due: black, ruff, mypy

#55 Add number for "Heating circuit Target temperature hysteresis (excess energy)" and "Heating circuit Target temperature hysteresis (excess energy)" (cooling)
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/number.py
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  tests/api_data.py
  tests/snapshots/test_coordinator.ambr
  tests/snapshots/test_init.ambr
  tests/snapshots/test_number.ambr
  tests/snapshots/test_sensor.ambr
  tests/test_init.py
  tests/test_number.py
  tests/test_sensor.py
Due: black, ruff, mypy

#47 Fix passive cooling translations
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  tests/snapshots/test_number.ambr
  tests/snapshots/test_sensor.ambr
Due: none

#55 Add number and sensor for "Heating circuit Cooling limit for excess energy (day)" and "Heating circuit 1 Heating limit for excess energy (day)"
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/number.py
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  tests/api_data.py
  tests/snapshots/test_coordinator.ambr
  tests/snapshots/test_init.ambr
  tests/snapshots/test_number.ambr
  tests/snapshots/test_sensor.ambr
  tests/test_climate.py
  tests/test_init.py
  tests/test_number.py
  tests/test_sensor.py
  tests/test_water_heater.py
Due: black, ruff, mypy

#55 Add number and sensor for "Heating circuit Cooling limit for excess energy (day)" and "Heating circuit Heating limit for excess energy (day)"
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/number.py
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  tests/api_data.py
  tests/snapshots/test_coordinator.ambr
  tests/snapshots/test_init.ambr
  tests/snapshots/test_number.ambr
  tests/snapshots/test_sensor.ambr
  tests/test_climate.py
  tests/test_init.py
  tests/test_number.py
  tests/test_sensor.py
  tests/test_water_heater.py
Due: black, ruff, mypy

#55 Add number and sensor for "Heating circuit Cooling limit for excess energy (night)" and "Heating circuit Heating limit for excess energy (night)"
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/number.py
  custom_components/keba_keenergy/sensor.py
  custom_components/keba_keenergy/strings.json
  custom_components/keba_keenergy/translations/de.json
  custom_components/keba_keenergy/translations/en.json
  tests/api_data.py
  tests/snapshots/test_coordinator.ambr
  tests/snapshots/test_init.ambr
  tests/snapshots/test_number.ambr
  tests/snapshots/test_sensor.ambr
  tests/test_init.py
  tests/test_number.py
  tests/test_sensor.py
Due: black, ruff, mypy

#55 Add switch for "Heating circuit Use excess energy"
  custom_components/keba_keenergy/coordinator.py
  custom_components/keba_keenergy/switch.py
  tests/api_data.py
  tests/snapshots/test_coordinator.ambr
  tests/snapshots/test_init.ambr
  tests/snapshots/test_switch.ambr
  tests/test_init.py
  tests/test_switch.py
Due: black, ruff, mypy

#55 Add binary sensor for "Heating circuit Excess energy available"
  custom_components/keba_keenergy/binary_sensor.py
  custom_components/keba_keenergy/coordinator.py
  tests/api_data.py
  tests/snapshots/test_binary_sensor.ambr
  tests/snapshots/test_coordinator.ambr
  tests/snapshots/test_init.ambr
  tests/test_binary_sensor.py
  tests/test_init.py
Due: black, ruff, mypy

Path conditions:
  black: any of: \.py$, but not: ^\.venv/
  ruff: any of: \.py$, but not: ^\.venv/
  mypy: any of: \.py$, but not: ^\.venv/
  rumdl: any of: \.md$, but not: ^\.venv/
  yamllint: any of: \.ya?ml$, but not: ^\.venv/
